body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-style: italic;
    line-height: 2;
    font-size: 32px;
    font-weight: bold;
    margin: 0; 
}
h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
}
a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #f7d128;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px; /* Limita el ancho máximo de la sección */
    margin: 0 auto; /* Centra la sección */
    padding: 20px;
}

.inicio-item {
    width: calc(50% - 40px); 
    background-color: #fff;
    border-radius: 10px;
    border: 0 0 10px solid rgba(0, 0, 0, 0.1);
    margin: 20px; /* Agrega un espacio entre los elementos */
    overflow: hidden;
    transition: transform 0.3s ease
}
.inicio-item:hover {
    transform: translateY(-5px);
}
.inicio-item img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto;
    border-radius: 10px 10px 0 0;
 }
.competencia img {
    max-width: 60%;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: none;
    animation: fadeIn 3s forwards;
    box-shadow:0 0 10px 0 #333;
}
.banner-image-bg img{
    max-width: 60%;
    margin-right: 40px;
    border-radius: 20px;
    box-shadow: none;
    animation: fadeIn 2.4s forwards;
    box-shadow:0 0 10px 0 #333;
}
.inicio-item-content {
    padding: 20px;
    text-align: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



