body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
   
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.container {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap ;
}

.content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
}
.competencia {
    display: inline-block; /* Alinea los contenedores horizontalmente */
    width: 400px; /* Ancho máximo de cada competencia */
    margin-right: 20px; /* Espacio entre competencias */
}

.competencia img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
}

.competencia p {
    font-size: 14px;
    color: #333;
}